:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.clock h1 {
  margin-bottom: 0.5rem;
  font-size: 5rem;

}

.clock p {
  margin-top: 0;
  font-size: 3rem;
}

.clock {
  background-color: rgba(255, 255, 255, 0.292);
  border-radius: 50px;
  width: 40rem;
  height: 20rem;
  backdrop-filter: blur(10px);
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

body {
  background-image: url('./assets/images/background.jpg');
  background-size: 1920px, 1080px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}